<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :player1_name %><br>
    <%= f.text_field :player1_name, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :player1_score %><br>
    <%= f.number_field :player1_score %>
  </div>

  <div class="field">
    <%= f.label :player2_name %><br>
    <%= f.text_field :player2_name, class: "name" %>
  </div>

  <div class="field">
    <%= f.label :player2_score %><br>
    <%= f.number_field :player2_score %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
