<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
      <% @game.errors.full_messages.each do |message| %>
        <p class="alert alert-danger"><%= message %></p>
      <% end %>
  <% end %>
  
  <div class="field form-group">
    <%= f.label :game_date %>
    <%= f.date_field :game_date, class: "form-control" %><br />
  </div>

  <div class="field form-group" id="players">
    <%= f.fields_for :players do |builder| %>
      <%= render "player_fields", :f => builder %>
    <% end %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
