
<p id="notice"><%= notice %></p>

<h1>Game Log
  <span class="btn-group">
    <%= button_to 'New Game', new_game_path, method: :get, class: "btn btn-info" %>
  </span>
</h1>

<h5><%= Game.all.count %> games played</h5>
<table class="table">
  <thead>
    <tr>
      <th>Winners</th>
      <th>Losers</th>
      <th>Winner Score</th>
      <th>Loser Score</th>
      <th>Game Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.box_score[:winners].join(", ") %></td>
        <td><%= game.box_score[:losers].join(", ") %></td>
        <td><%= game.box_score[:winning_score] %></td>
        <td><%= game.box_score[:losing_score] %></td>
        <td><%= game.game_date %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure? This will remove the game from existence.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @games %>