<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th>Team 1 Players</th>
      <th>Team 2 Players</th>
      <th>Team 1 score</th>
      <th>Team 2 score</th>
      <th>Game Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.players.first.name %></td>
        <td><%= game.players.last.name %></td>
        <td><%= game.scores.first.score %></td>
        <td><%= game.scores.last.score %></td>
        <td><%= game.game_date %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
