<p id="notice"><%= notice %></p>

<p>
  <strong>Player1 ID:</strong>
  <%= @game.player1_id %>
</p>

<p>
  <strong>Player2 ID:</strong>
  <%= @game.player2_id %>
</p>

<p>
  <strong>Player1 score:</strong>
  <%= @game.player1_score %>
</p>

<p>
  <strong>Player2 score:</strong>
  <%= @game.player2_score %>
</p>

<p>
  <strong>Rating change:</strong>
  <%= @game.rating_change %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.created_at %>
</p>

<%= link_to 'Back', games_path %>
