<p id="notice"><%= notice %></p>

<h1>Player Ranking
  <span class="btn-group">
    <%= button_to 'New Player', new_player_path, method: :get, class: "btn btn-info" %>
  </span>
</h1> 

<table class="table">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Department</th>
      <th>Rating</th>
      <th>Wins</th>
      <th>Losses</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= @players.index(player) + 1 %></td>
        <td><%= player.name %></td>
        <td><%= player.department %></td>
        <td><%= player.rating.round %></td>
        <td><%= player.wins %></td>
        <td><%= player.losses %></td>
        <td><%= link_to 'Details', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
